--swift-version 6
--language-mode 5
--exclude *
--unexclude Contents/MacOS/main.swift

--enable acronyms
--enable blankLineAfterSwitchCase
--enable blankLinesAfterGuardStatements
--enable blockComments
--enable emptyExtensions
--enable isEmpty
--enable markTypes
--enable noExplicitOwnership
--enable organizeDeclarations
--enable preferContains
--enable preferCountWhere
--enable preferFinalClasses
--enable preferFirstWhere
--enable preferFlatMap
--enable preferMinOverSorted
--enable preferSwiftStringAPI
--enable privateStateVariables
--enable propertyTypes
--enable redundantSendable
--enable singlePropertyPerLine
--enable sortSwitchCases
--enable unusedPrivateDeclarations
--enable urlMacro
--enable wrapMultilineConditionalAssignment
--enable wrapMultilineFunctionChains
--enable wrapSwitchCases

--preserve-acronyms bundleId
--conditional-assignment always
--guard-else next-line
--header strip
--indent tab
--tab-width 4
--indent-case true
--indent-blank-lines true
--init-coder-nil true
--organization-mode type
--single-line-for-each convert
--property-types inferred
--redundant-async always
--redundant-throws always
--trailing-commas always
--short-optionals always
--url-macro "#URL,URLFoundation"
--max-width 120
--wrap-arguments before-first
--wrap-parameters before-first
--wrap-collections before-first
--func-attributes prev-line
--type-attributes prev-line
--wrap-enum-cases with-values
